*{
 margin:0%;
 padding:0%;

}
html,body{
    height: 100%;
    width:100%;
}
h1{
    background-color: aqua;
    color:aquamarine;
    text-align:centre ;
    font-family: 'Gill Sans';
}
body{
    background-color: aqua;
    display:flex;
    justify-content:centre;
    align-items:centre;
}
div{
    align-items:centre;
    display:flex;
    text-align:centre;
    width:30%;
    height:30%;
    font-size:x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#box1{
    background-color: aliceblue;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border-right-style: dotted;

}
#box2{
    background-color: rgb(255, 240, 252);
    width: 50%;
    height: 30%;

}

 